# Files uploaded to the Fragment Server
/uploaded_files/

# PyCaches
__pycache__/

# macOS files
.DS_Store

# Development environment variables
.env.keys
.env.testing
.env.deploy

/data/*
!/data/test_data
.secrets

/scripts/log-in.sh